@import '../../styles/lib/breakpoints';

.hero {
  position: relative;
}

.background {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  inset: 0;
  max-height: 900px;
  min-height: 600px;
  padding-top: var(--header-height);

  &::before {
    background: var(--overlay-background);
    content: '';
    inset: 0;
    position: absolute;
  }
}

.wrapper {
  z-index: 1;
  margin-block: calc(var(--lg-spacing) * 6) calc(var(--lg-spacing) * 4);

  @include respond-below('md') {
    margin-bottom: calc(var(--lg-spacing) * 3) calc(var(--lg-spacing) * 2);
  }
}

.headline {
  color: var(--color-text-light);
  max-width: 680px;
  z-index: 1;
}

.separator {
  color: var(--color-bg-light);
  height: 40px;
  transform: translateY(-30px);
  width: 100%;
}
